@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: SHFMR
	Description: Custom blocks stylesheet. Block Editor Preview and Front End styles for blocks.
	Version: 1.2.1
	Text Domain: shfmr
*/
.has-purple-color {
  color: #382D6A;
}

.has-purple-background-color {
  background-color: #FFF !important;
}

.has-grey-color {
  color: #454545;
}

.has-grey-background-color {
  background-color: #FFF !important;
}

.has-mint-color {
  color: #62C19B;
}

.has-mint-background-color {
  background-color: #FFF !important;
}

.editor-button-block, .editor-button-block__border-purple, .editor-button-block__solid-purple, .editor-button-block__border-mint, .editor-button-block__solid-mint {
  display: inline-block;
  padding: 0.5rem 0.65rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  line-height: 1;
  vertical-align: text-top;
}
@media (min-width: 480px) {
  .editor-button-block, .editor-button-block__border-purple, .editor-button-block__solid-purple, .editor-button-block__border-mint, .editor-button-block__solid-mint {
    padding: 0.635rem 0.75rem;
    font-size: 1rem;
  }
}
.editor-button-block__border-purple {
  background-color: #FFF;
  color: #382D6A;
  border: 1px solid #382D6A;
}
.editor-button-block__border-purple:hover {
  background-color: #382D6A;
  color: #FFF;
  border-color: #FFF;
}
.editor-button-block__solid-purple {
  background-color: #382D6A;
  color: #FFF;
  border: 1px solid #382D6A;
}
.editor-button-block__solid-purple:hover {
  background-color: #FFF;
  color: #382D6A;
}
.editor-button-block__border-mint {
  background-color: #FFF;
  color: #62C19B;
  border: 1px solid #62C19B;
}
.editor-button-block__border-mint:hover {
  background-color: #62C19B;
  color: #FFF;
}
.editor-button-block__solid-mint {
  background-color: #62C19B;
  color: #FFF;
  border: 1px solid #62C19B;
}
.editor-button-block__solid-mint:hover {
  background-color: #FFF;
  color: #62C19B;
}

.standard-dropdown-container {
  max-width: 63.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  color: #382D6A;
}
.standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
.standard-dropdown-container .dropdown-block-title:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  margin-left: 2rem;
  font-size: 16px;
  font-weight: normal;
  font-family: FontAwesome;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) {
  .standard-dropdown-container .dropdown-block-title:after {
    font-size: 18px;
  }
}
@media (min-width: 1023px) {
  .standard-dropdown-container .dropdown-block-title:after {
    top: 1.25rem;
    font-size: 22px;
  }
}
.standard-dropdown-container .chevron-rotate:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.important-info-wrapper {
  max-width: 43.75rem;
  margin: 1.25rem auto 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 3px solid #382D6A;
}
.important-info-wrapper .h6-heading {
  color: #382D6A;
  margin: 0 0 0 1.5rem;
}