@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: SHFMR
	Description: Custom theme for Smoky Hill Residency Program.
	Version: 1.4.1
	Text Domain: shfmr
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.2;
  overflow-x: hidden;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#382D6A), to(#736DB2));
  background: linear-gradient(to bottom right, #382D6A 0%, #736DB2 100%);
  background-repeat: no-repeat;
  width: 100vw;
}

::-webkit-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-moz-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::placeholder {
  color: #8A8A8A;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a.read-more {
  display: none;
}

.is-style-rounded img {
  border-radius: 10px;
}

a, p, span, address, blockquote {
  font-family: "questa-slab", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
a:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #454545;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 1.5rem;
  }
}

small {
  font-family: "questa-slab", serif;
  font-size: 0.875rem;
  font-style: italic;
  color: #382D6A;
}

time {
  display: block;
  padding-top: 0.75rem;
  font-family: "questa-slab", serif;
  font-size: 0.875rem;
  color: #454545;
}

ul, ol {
  margin-bottom: 2rem;
  font-family: "questa-slab", serif;
  font-size: 1rem;
  color: #454545;
}
ul li, ol li {
  padding-bottom: 0.625rem;
}

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "questa-slab", serif;
  font-weight: bold;
  color: #454545;
}

h1, .h1-heading {
  font-size: 2rem;
  font-style: italic;
}
@media (min-width: 480px) {
  h1, .h1-heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  h1, .h1-heading {
    font-size: 2.75rem;
  }
}
@media (min-width: 1023px) {
  h1, .h1-heading {
    font-size: 3.75rem;
  }
}

h2, .h2-heading {
  font-size: 2rem;
}
@media (min-width: 480px) {
  h2, .h2-heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  h2, .h2-heading {
    font-size: 2.75rem;
  }
}

h3, .h3-heading {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h3, .h3-heading {
    font-size: 1.5rem;
  }
}
@media (min-width: 1023px) {
  h3, .h3-heading {
    font-size: 2.25rem;
  }
}

h4, .h4-heading {
  font-size: 0.875rem;
}
@media (min-width: 480px) {
  h4, .h4-heading {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  h4, .h4-heading {
    font-size: 1.375rem;
  }
}
@media (min-width: 1023px) {
  h4, .h4-heading {
    font-size: 1.625rem;
  }
}

h5, .h5-heading {
  font-size: 0.9375rem;
}
@media (min-width: 768px) {
  h5, .h5-heading {
    font-size: 1.125rem;
  }
}

h6, .h6-heading {
  font-size: 0.875rem;
}
@media (min-width: 480px) {
  h6, .h6-heading {
    font-size: 1rem;
  }
}

.primary-button, .primary-button--w, .primary-button--t, .primary-button--m, .primary-button--border, .primary-button--plain {
  display: inline-block;
  padding: 0.5rem 0.65rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  line-height: 1;
  vertical-align: text-top;
}
@media (min-width: 480px) {
  .primary-button, .primary-button--w, .primary-button--t, .primary-button--m, .primary-button--border, .primary-button--plain {
    padding: 0.635rem 0.75rem;
    font-size: 1rem;
  }
}
.primary-button--w {
  background-color: #FFF;
  color: #382D6A;
}
.primary-button--w:hover {
  background-color: #62C19B;
  color: #FFF;
}
.primary-button--t {
  background-color: transparent;
  color: #FFF;
}
.primary-button--t:hover {
  background-color: #FFF;
  color: #454545;
}
.primary-button--m {
  background-color: #62C19B;
  color: #FFF;
  vertical-align: unset;
}
.primary-button--m:hover {
  background-color: #FFF;
  color: #62C19B;
}
.primary-button--border {
  color: #382D6A;
  background-color: #FFF;
  border: 2px solid #62C19B;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.primary-button--border:hover {
  background-color: #62C19B;
  color: #FFF;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
.primary-button--plain {
  color: #FFF;
  padding: 0.25rem;
}

.content-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.default-header {
  max-width: 43.75rem;
  margin: 0 auto;
  background-color: #FFF;
}

.default-container {
  background-color: transparent;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  z-index: 20;
}
.default-container a:not(.plain-link) {
  color: #454545;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.default-container a:not(.plain-link):hover {
  text-decoration: underline;
}

.default-container-short {
  background-color: transparent;
  position: relative;
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1rem;
  z-index: 20;
}
.default-container-short p a:not(.plain-link):not(.top-hit-link) {
  color: #454545;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.default-container-short p a:not(.plain-link):not(.top-hit-link):hover {
  text-decoration: underline;
}

.hide-on-desktop {
  display: block;
}
@media (min-width: 480px) {
  .hide-on-desktop {
    display: none;
  }
}

.hide-on-mobile {
  display: none;
}
@media (min-width: 480px) {
  .hide-on-mobile {
    display: block;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.plain-link {
  color: #454545;
  font-size: 0.875rem;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

hr.has-mint-color {
  border-top: unset !important;
  color: #62C19B !important;
  background-color: #62C19B !important;
  border-color: #62C19B !important;
  height: 1px !important;
}

figure.size-full {
  margin-top: 0.4rem;
}

.nav-wrapper {
  position: relative;
  max-width: 100%;
  background-color: transparent;
}
@media (min-width: 1024px) {
  .nav-wrapper {
    margin-top: 2rem;
  }
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  list-style: none;
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 64em) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 77rem;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }

  .logo img {
    width: 14.375rem;
    margin-right: 2rem;
  }

  .nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .nav-menu .menu li {
    position: relative;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0.85rem 1.75rem 0.5rem;
  }
  .nav-menu .menu li.current-menu-item a {
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #62C19B;
  }
  .nav-menu .menu li:hover {
    margin-left: 2px;
  }
  .nav-menu .menu li:hover a {
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #62C19B;
  }
  .nav-menu .menu #menu-item-149:hover {
    margin-left: unset;
  }
  .nav-menu .menu li a {
    color: #FFF;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .nav-menu .menu .menu-item-has-children {
    position: relative;
    z-index: 5;
  }
  .nav-menu .menu .menu-item-has-children:hover {
    background-color: #FFF;
    border-top: 1px solid #D0D4CC;
    border-right: 1px solid #D0D4CC;
    border-left: 1px solid #D0D4CC;
    -webkit-transition: none;
    transition: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #62C19B;
  }
  .nav-menu .menu .menu-item-has-children:hover a {
    color: #382D6A;
  }
  .nav-menu .menu .menu-item-has-children > a {
    position: relative;
  }
  .nav-menu .menu .menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.2s ease-out;
    transition: visibility 0.2s ease-out;
  }
  .nav-menu .menu .sub-menu {
    position: absolute;
    top: 2.5rem;
    left: -1px;
    width: calc( 100% + 2px);
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    background-color: #FFF;
    border: 1px solid #D0D4CC;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: unset;
    padding-left: 0.5rem;
    -webkit-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  }
  .nav-menu .menu .sub-menu li {
    border: unset;
    padding: unset;
    margin: 0.5rem auto;
  }
  .nav-menu .menu .sub-menu li.current-menu-item > a {
    color: #382D6A;
    -webkit-text-decoration: underline #62C19B;
            text-decoration: underline #62C19B;
    text-underline-offset: 3px;
  }
  .nav-menu .menu .sub-menu li:hover {
    border: unset;
  }
  .nav-menu .menu .sub-menu li a {
    display: block;
    max-width: 8rem;
    margin: 0 auto;
    font-family: "questa-slab", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 0.875rem;
    color: #454545;
    text-transform: none;
    border-bottom: unset;
  }
  .nav-menu .menu .sub-menu li a:hover {
    -webkit-text-decoration: underline #62C19B;
            text-decoration: underline #62C19B;
    text-underline-offset: 3px;
  }
  .nav-menu .menu .sub-menu li .sub-menu {
    position: relative;
    top: unset;
    left: 1rem;
    border: unset;
    width: 100%;
  }
  .nav-menu .menu .sub-menu li .sub-menu:before {
    content: "—";
    position: absolute;
    left: 1rem;
    top: 0.35rem;
  }
  .nav-menu .menu .sub-menu li .sub-menu li {
    margin-bottom: unset;
  }
  .nav-menu .menu li.menu-item-198 .sub-menu li a {
    max-width: 7.5rem;
  }
  .nav-menu .menu li.menu-item-199 .sub-menu li a {
    max-width: 6.3rem;
  }
  .nav-menu .menu li.menu-item-196 .sub-menu li a {
    max-width: 5.4rem;
  }
}
@media (max-width: 63.9375em) {
  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 8.5rem;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #FFF;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-radius: 2px;
    margin-right: 0;
    margin-left: auto;
  }
  #menu-toggle .x-bar:nth-child(3n+1) {
    width: 1.8rem;
  }
  #menu-toggle .x-bar:nth-child(3n+2) {
    width: 1.4rem;
  }
  #menu-toggle .x-bar:nth-child(3n+3) {
    width: 1rem;
  }
  #menu-toggle .x-bar.x-bar-active {
    width: 1.6rem;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 0;
    height: 2px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 4px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }

  .nav-menu {
    padding: 0 1rem;
  }

  #primary-menu {
    display: none;
    width: 100%;
    top: 0;
    margin: 0 auto;
    padding-top: 1.5rem;
    overflow: hidden;
    height: 100vh;
    border-top: 2px solid #736DB2;
  }
  #primary-menu li {
    margin-bottom: 2rem;
    margin-left: 2.25rem;
  }
  #primary-menu a {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: bold;
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children a {
    position: relative;
    color: #FFF;
  }
  #primary-menu .menu-item-has-children > li {
    margin-top: 0.75rem;
  }
  #primary-menu .menu-item-has-children .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 4.5rem;
    left: 100%;
    width: 100%;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    z-index: -1;
    margin-left: 0;
  }
  #primary-menu .menu-item-has-children .sub-menu li .sub-menu li {
    position: absolute;
    top: 0.1rem;
    left: 0;
    -webkit-transition: unset;
    transition: unset;
  }
  #primary-menu .menu-item-has-children .sub-menu-open {
    position: absolute;
    left: 0;
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 25;
    background: -webkit-gradient(linear, left top, right bottom, from(#382D6A), to(#736DB2));
    background: linear-gradient(to bottom right, #382D6A 0%, #736DB2 100%);
    height: 100%;
    width: 100%;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li {
    margin-left: 3.25rem;
    margin-bottom: 1.675rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li:first-of-type {
    margin-left: 1rem;
    font-style: normal;
    font-size: 1rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li a {
    text-transform: unset;
    font-family: "questa-slab", serif;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: normal;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open {
    position: relative;
    top: 0.1rem;
    background: unset;
    margin: unset;
    padding: unset;
    overflow: unset;
    -webkit-transition: unset;
    transition: unset;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open:before {
    content: "—";
    position: absolute;
    left: 0;
    top: -0.15rem;
    color: #FFF;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open li {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-top: 0;
    margin-left: 1.5rem;
    padding-bottom: 0.25rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open li:first-of-type {
    display: none;
  }
  #primary-menu .menu-item-has-children #mobile-back-button {
    background: unset;
    border: unset;
    width: 23.875rem;
    padding: 0.75rem 0;
    border-bottom: 1px solid #736DB2;
    text-align: left;
    color: #FFF;
    font-family: "mr-eaves-modern", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children #mobile-back-button:before {
    content: url("static/icons/arrow-left.svg");
    margin-right: 1rem;
    vertical-align: top;
  }
}
.header-wrapper {
  max-width: 75rem;
  margin: 2.75rem auto 0;
  padding: 0 1rem 1.75rem;
}
@media (min-width: 768px) {
  .header-wrapper {
    margin: 3.75rem auto 4rem;
    padding: 0 1rem;
  }
}

.center-header {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 480px) {
  .center-header {
    max-width: 35rem;
  }
}
@media (min-width: 768px) {
  .center-header {
    max-width: 45rem;
  }
}
@media (min-width: 1023px) {
  .center-header {
    max-width: 53rem;
  }
}
.center-header h1 {
  color: #FFF;
  margin-bottom: 0;
}

.no-mb {
  margin-bottom: 0;
}
.no-mb h1 {
  margin-bottom: -1rem;
}

h1.add-mb {
  margin-bottom: 2.5rem;
}

.home-below-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3.75rem auto;
}
.home-below-title .primary-button--w {
  margin-bottom: 1rem;
}
@media (min-width: 345px) {
  .home-below-title .primary-button--w {
    margin-bottom: 0;
  }
}

.default-below-title {
  max-width: 50rem;
  margin: 0 auto 3rem;
}
@media (min-width: 768px) {
  .default-below-title {
    margin: 0 auto;
  }
}
.default-below-title p {
  max-width: 60.25rem;
  padding: 0 1rem;
  margin-top: 1.5rem;
  margin-bottom: unset;
  font-size: 0.875rem;
  font-style: italic;
  color: #FFF;
}
@media (min-width: 480px) {
  .default-below-title p {
    font-size: 1rem;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.swoop {
  position: relative;
  max-width: 100%;
  margin-bottom: -2px;
  z-index: 2;
}
.swoop svg:not(#play-button-svg) {
  position: relative;
  display: block;
  width: 100vw;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0 -10px 4px #382D6A);
          filter: drop-shadow(0 -10px 4px #382D6A);
}

.media-container {
  background-color: transparent;
  margin: -50% auto 1.5rem;
}
@media (min-width: 375px) {
  .media-container {
    margin-top: -40%;
  }
}
@media (min-width: 768px) {
  .media-container {
    margin: -25% auto 0;
  }
}
@media (min-width: 1200px) {
  .media-container {
    margin: -22% auto 0;
  }
}
.media-container #swoop-media-container {
  max-width: 62.5rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
  z-index: 20;
}
.media-container #swoop-media-container .swoop-image-only {
  display: block;
  margin: -1rem auto 4rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  max-width: 40rem;
  max-height: 34rem;
  width: 100%;
}
@media (min-width: 1023px) {
  .media-container #swoop-media-container .swoop-image-only {
    margin: 0 auto 4rem;
    max-width: 49.5rem;
  }
}
.media-container #swoop-media-container .large-video-container {
  position: relative;
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
}
.media-container #swoop-media-container .large-video-container iframe {
  width: 100% !important;
}
.media-container #swoop-media-container .large-video-container #large-video-player {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 48rem;
  border-radius: 10px;
}
.media-container #swoop-media-container .large-video-container #large-play-button {
  background: unset;
  border: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.media-container #swoop-media-container .large-video-container #large-play-button:hover {
  cursor: pointer;
}
.media-container #swoop-media-container .gallery-container {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.media-container #swoop-media-container .gallery-container img {
  max-height: 32rem;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.media-container #swoop-media-container .gallery-container .slick-slide {
  max-height: 15rem;
}
@media (min-width: 600px) {
  .media-container #swoop-media-container .gallery-container .slick-slide {
    max-height: 20rem;
  }
}
@media (min-width: 768px) {
  .media-container #swoop-media-container .gallery-container .slick-slide {
    max-height: 32rem;
  }
}
.media-container #swoop-media-container .gallery-container .prev-arrow, .media-container #swoop-media-container .gallery-container .next-arrow {
  display: inline-block;
  position: absolute;
  top: 33%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 4px solid #FFF;
  z-index: 20;
  background-color: #D0D4CC;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 414px) {
  .media-container #swoop-media-container .gallery-container .prev-arrow, .media-container #swoop-media-container .gallery-container .next-arrow {
    width: 3.5rem;
    height: 3.5rem;
    top: 42%;
  }
}
@media (min-width: 768px) {
  .media-container #swoop-media-container .gallery-container .prev-arrow, .media-container #swoop-media-container .gallery-container .next-arrow {
    width: 5rem;
    height: 5rem;
    border: 7px solid #FFF;
  }
}
.media-container #swoop-media-container .gallery-container .prev-arrow:hover, .media-container #swoop-media-container .gallery-container .next-arrow:hover {
  cursor: pointer;
  background-color: #D8D8D8;
}
.media-container #swoop-media-container .gallery-container .prev-arrow svg, .media-container #swoop-media-container .gallery-container .next-arrow svg {
  position: relative;
  top: 50%;
  left: 50%;
  width: 0.6rem;
  -webkit-filter: unset;
          filter: unset;
}
@media (min-width: 480px) {
  .media-container #swoop-media-container .gallery-container .prev-arrow svg, .media-container #swoop-media-container .gallery-container .next-arrow svg {
    width: 100%;
  }
}
.media-container #swoop-media-container .gallery-container .prev-arrow {
  left: -1.25rem;
}
@media (min-width: 480px) {
  .media-container #swoop-media-container .gallery-container .prev-arrow {
    left: -1.6rem;
  }
}
@media (min-width: 768px) {
  .media-container #swoop-media-container .gallery-container .prev-arrow {
    left: -2.5rem;
  }
}
.media-container #swoop-media-container .gallery-container .prev-arrow svg {
  -webkit-transform: translate(-55%, -48%);
          transform: translate(-55%, -48%);
}
.media-container #swoop-media-container .gallery-container .next-arrow {
  right: -1.25rem;
}
@media (min-width: 480px) {
  .media-container #swoop-media-container .gallery-container .next-arrow {
    right: -1.6rem;
  }
}
@media (min-width: 768px) {
  .media-container #swoop-media-container .gallery-container .next-arrow {
    right: -2.5rem;
  }
}
.media-container #swoop-media-container .gallery-container .next-arrow svg {
  -webkit-transform: translate(-46%, -50%);
          transform: translate(-46%, -50%);
}

.content-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto 3.5rem;
  padding: 1.25rem 1rem 5rem;
  background-color: #FFF;
  -webkit-box-shadow: 0 20px 20px -20px #382D6A;
          box-shadow: 0 20px 20px -20px #382D6A;
}

.no-pad {
  padding-top: 0;
}

.above-footer {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem 4rem;
}
.above-footer h2, .above-footer p {
  color: #FFF;
}
.above-footer h2 {
  margin-bottom: 0;
}
.above-footer p {
  font-size: 0.75rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}
@media (min-width: 480px) {
  .above-footer p {
    font-size: 0.875rem;
  }
}

.outer-padding {
  padding: 0 1rem;
}

.footer-wrapper {
  max-width: 86.25rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 30px 20px -30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 20px -30px rgba(0, 0, 0, 0.5);
}

.footer-link {
  display: inline-block;
  font-size: 0.875rem;
  font-style: italic;
  color: #454545;
}
.footer-link:hover {
  text-decoration: underline;
}

.footer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  margin: 1.5rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.footer-container--brand {
  max-width: 18rem;
}
.footer-container--brand h5 {
  font-family: "mr-eaves-modern", sans-serif;
  color: #382D6A;
  text-transform: uppercase;
}
.footer-container--brand .address {
  margin-bottom: 0.5rem;
}
.footer-container--login {
  max-width: 12rem;
}
.footer-container--login .facebook-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0 0.25rem 0.5rem;
}
.footer-container--login .facebook-link:hover svg #Path {
  fill: #62C19B;
}
.footer-container--login .footer-link {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.lower-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.25rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 650px) {
  .lower-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.lower-footer a, .lower-footer span {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-style: italic;
  color: #FFF;
}
@media (min-width: 650px) {
  .lower-footer a, .lower-footer span {
    margin-bottom: unset;
  }
}
.lower-footer svg {
  position: relative;
  top: 2px;
}

.home-content {
  max-width: 75rem;
  margin: 0 auto;
}

.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 25rem;
  margin: 3rem auto 4.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (min-width: 480px) {
  .review-container {
    max-width: 30rem;
  }
}
@media (min-width: 1023px) {
  .review-container {
    max-width: 43rem;
  }
}
.review-container img {
  display: block;
  max-width: 6.125rem;
  margin-right: 1.5rem;
}
@media (min-width: 414px) {
  .review-container img {
    max-width: 8rem;
  }
}
@media (min-width: 480px) {
  .review-container img {
    max-width: 100%;
  }
}
.review-container .review-text {
  max-width: 26rem;
}
.review-container .review-text h4 {
  font-family: "mr-eaves-modern", sans-serif;
  text-transform: uppercase;
  color: #382D6A;
}
.review-container .review-text small {
  font-size: 0.6875rem;
}
@media (min-width: 480px) {
  .review-container .review-text small {
    font-size: 0.875rem;
  }
}

.cta-cards {
  max-width: 75rem;
}
@media (min-width: 72.375em) {
  .cta-cards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 21.125rem));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
    row-gap: 2rem;
  }
}
@media (min-width: 72.375em) and (min-width: 1230px) {
  .cta-cards {
    -webkit-column-gap: 5.75rem;
       -moz-column-gap: 5.75rem;
            column-gap: 5.75rem;
  }
}
@media (min-width: 72.375em) {
  .cta-cards__card {
    margin: 0 auto;
  }
}
@media (max-width: 72.375em) {
  .cta-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 72.375em) and (min-width: 768px) {
  .cta-cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 72.375em) {
  .cta-cards__card {
    margin: 0 auto 2.75rem;
    max-width: 21.125rem;
  }
}
.cta-cards__card img {
  display: block;
  border-radius: 10px;
}
.cta-cards__card h3 {
  color: #382D6A;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 480px) {
  .cta-cards__card h3 {
    margin-top: 2.5rem;
    margin-bottom: 1.125rem;
  }
}
.cta-cards__card p {
  font-size: 0.875rem;
  font-style: italic;
}

.top-hits {
  max-width: 47rem;
  margin: 0 auto;
}
.top-hits h2 {
  text-align: center;
  color: #382D6A;
  margin-bottom: 2.5rem;
}
.top-hits__grid {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, 14.375rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.625rem;
     -moz-column-gap: 1.625rem;
          column-gap: 1.625rem;
  row-gap: 2.5rem;
}
.top-hits__grid .grid-item img {
  display: block;
  border-radius: 10px;
  height: 10.25rem;
}
.top-hits__grid .grid-item h4 {
  padding-top: 0.875rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .top-hits__grid .grid-item h4 {
    font-size: 1.375rem;
  }
}
@media (min-width: 1023px) {
  .top-hits__grid .grid-item h4 {
    font-size: 1.625rem;
  }
}
.top-hits__grid .grid-item p {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0.625rem;
}
.top-hits__grid .grid-item a.purple {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: normal;
  color: #382D6A;
}
.top-hits__grid .grid-item a.purple:hover {
  -webkit-text-decoration: underline #62C19B;
          text-decoration: underline #62C19B;
}
.top-hits__text-only {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 15rem;
  margin: 3.75rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 680px) {
  .top-hits__text-only {
    max-width: 40rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.top-hits__text-only p, .top-hits__text-only .top-hit-link {
  margin-bottom: 0.625rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
}
.top-hits__text-only .top-hit-link {
  display: block;
  color: #382D6A;
}
.top-hits__text-only .top-hit-link:hover {
  text-decoration: underline;
}
.top-hits__text-only .divider {
  width: 100%;
  height: 1px;
  background-color: #979797;
  margin: 1.25rem auto;
}
@media (min-width: 680px) {
  .top-hits__text-only .divider {
    margin: unset;
    width: 1px;
    height: 128px;
    background-color: #979797;
  }
}
@media (min-width: 680px) {
  .top-hits__text-only .text-even {
    padding-left: 2.25rem;
  }
}
@media (min-width: 680px) {
  .top-hits__text-only .text-odd {
    padding-right: 2.25rem;
  }
}

.small-video-container {
  position: relative;
  max-width: 100%;
  margin: 3rem auto;
}
.small-video-container #small-video-player {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 35.625rem;
  border-radius: 10px;
}
.small-video-container #play-button {
  background: unset;
  border: unset;
  max-width: 35.625rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.small-video-container #play-button:hover {
  cursor: pointer;
}

.yt-wrap {
  position: relative;
  max-width: 100%;
  margin: 3rem auto;
}
.yt-wrap iframe {
  display: block;
  width: 35.625rem;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  max-height: 14.75rem;
}
@media (min-width: 480px) {
  .yt-wrap iframe {
    max-height: 23.75rem;
  }
}

.page-id-134 #header, .epkb_full #header {
  display: none;
}
.page-id-134 #footer, .epkb_full #footer {
  display: none;
}
.page-id-134 hr, .epkb_full hr {
  display: none;
}
.page-id-134 h2.epkb-doc-search-container__title, .epkb_full h2.epkb-doc-search-container__title {
  font-family: "questa-slab", serif !important;
  font-style: italic !important;
  color: #382D6A !important;
  font-weight: bold !important;
}
.page-id-134 #page .epkb-full .epkb-doc-search-container, .epkb_full #page .epkb-full .epkb-doc-search-container {
  padding-bottom: 5rem;
  border: unset !important;
  background-color: transparent !important;
  background: unset !important;
}
.page-id-134 #epkb-main-page-container.epkb-basic-template .epkb-doc-search-container .epkb-search-form-1 .epkb-search-box, .epkb_full #epkb-main-page-container.epkb-basic-template .epkb-doc-search-container .epkb-search-form-1 .epkb-search-box {
  border: 1px solid #62C19B !important;
  border-radius: 7px;
  background-color: transparent !important;
  background: unset !important;
}

#epkb-search-kb {
  border-width: 0 !important;
}

.single-epkb_post_type_1 .center-header h1 {
  margin-bottom: 2.5rem;
}
.single-epkb_post_type_1 .swoop {
  display: none;
}
/*# sourceMappingURL=style.css.map */