{#
  * Block Name: Mint Button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__border-mint" href="{{ fields.button_link }}">{{ fields.button_text }}</a>