{#
  * Block Name: Solid Purple Button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__solid-purple" href="{{ fields.button_link }}">{{ fields.button_text }}</a>