{% block html_head_container %}
	{% include 'html-header.twig' %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">

	{% include 'navigation.twig' %}

	{% if not function('is_page', 134) %}
		{% if is_front_page %}
			<header class="header-wrapper">
		{% else %}
			<header class="header-wrapper no-mb">
		{% endif %}
			<div class="center-header">
				{# spacing accounted for in below classes - this pushes content further down if there is a media element below it #}
				{% if post.swoop_has_image or post.swoop_has_video or post.swoop_has_slider %}
					<h1 class="add-mb">{{ post.title }}</h1>
				{% else %}
					<h1>{{ post.title }}</h1>
				{% endif %}

				{% if is_front_page %}
					<div class="home-below-title">
						<a class="primary-button--w" href="{{ post.home_header_button_link }}">{{ post.home_header_button_text }}</a>
					</div>
				{% elseif post.header_paragraph_intro or post.header_button_text %}
					<div class="default-below-title">
						{% if post.header_paragraph_intro %}
							<p>{{ post.header_paragraph_intro }}</p>
						{% endif %}
						{% if post.header_button_text %}
							<a class="primary-button--w" href="{{ post.header_button_link }}">{{ post.header_button_text }}</a>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</header>
	{% endif %}

	{# no swoop on KB Article Pages #}
	{% if not function('is_page', 134) %}
		<div class="swoop">
			{% include '/static/images/short-swoop.svg' %}
		</div>
	{% endif %}

	{# header check for media content - determines spacing on lower section #}
	{% if post.swoop_has_image or post.swoop_has_video or post.swoop_has_slider %}
		<section class="content-wrapper">
			<section class="media-container">
				{% include 'swoop-media.twig' %}
			</section>
	{% else %}
		<section class="content-wrapper no-pad">
	{% endif %}
		{% block content %}
		{% endblock %}
	</section>

	{% if post.above_footer_header %}
		<section class="above-footer">
			<h2>{{ post.above_footer_header }}</h2>
			<p>{{ post.above_footer_paragraph }}</p>
			<a class="primary-button--m" href="{{ post.above_footer_button_link }}">{{ post.above_footer_button_text }}</a>
		</section>
	{% endif %}

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>