{% set gmap_url = 'https://www.google.com/maps/place/Salina+Family+Healthcare+Center/@38.8282128,-97.6012571,18z/data=!3m1!4b1!4m5!3m4!1s0x87bcc5fcb242be29:0x99c511068a776143!8m2!3d38.8282128!4d-97.6006394' %}
<div class="outer-padding">
	<footer class="footer-wrapper">
		<div class="footer-container">
			<div class="footer-container--brand">
				<h5>Smoky Hill Family Medicine Residency</h5>
				<a class="footer-link address" href="{{ gmap_url }}" target="_blank">{{ options.address }}</a>
				<a class="footer-link" href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a>
			</div>
			<div class="footer-container--login">
				<a class="facebook-link" href="{{ options.facebook_link }}" target="_blank">{% include '/static/icons/facebook-icon.svg' %}</a>
				<a class="footer-link" href="{{ options.login_link }}">Resident Resources - Login</a>
			</div>
		</div>
	</footer>
</div>

<div class="lower-footer">
	<a href="/site-policies-disclosures/">Site Policies &amp; Disclosures</a>
	<span class="copyright">&copy; Copyright {{ date|date('Y') }} | Smoky Hill Family Medicine Residency</span>
	<a href="https://weare502.com">Design &amp; Development by {% include '/static/icons/502-logo.svg' %}</a>
</div>