{% extends 'base.twig' %}

{% block content %}
<div class="home-content">
	<div class="review-container">
		<img src="{{ TimberImage( post.reviewer_image ).src }}" alt="{{ TimberImage( post.reviewer_image ).alt }}" />
		<div class="review-text">
			<h4>{{ post.review }}</h4>
			<small title="{{ post.reviewer_name_and_year }}">{{ post.reviewer_name_and_year }}</small>
		</div>
	</div>

	<section class="cta-cards">
		{% for card in post.get_field('cards') %}
			<div class="cta-cards__card">
				<img src="{{ TimberImage( card.cta_image ).src }}" alt="{{ TimberImage( card.cta_image ).alt }}" />
				<h3>{{ card.cta_header_text }}</h3>
				<p>{{ card.cta_paragraph_text }}</p>
				<a class="primary-button--border" href="{{ card.cta_button_link }}">{{ card.cta_button_text }}</a>
			</div>
		{% endfor %}
	</section>
</div>
{% endblock %}