{% extends 'base.twig' %}

{% block content %}
<div class="default-container-short">
	<section class="top-hits">
		<h2>Salina's Top Attractions</h2>
		<div class="top-hits__grid">
			{% for hit in post.get_field('top_hits_grid') %}
				<div class="grid-item">
					<img src="{{ TimberImage( hit.top_hit_image ).src }}" alt="{{ TimberImage( hit.top_hit_image ).alt }}" />
					<h4>{{ hit.top_hit_title }}</h4>
					<p>{{ hit.top_hit_paragraph }}</p>
					{% if hit.top_hit_link_url %}
						<a class="purple" href="{{ hit.top_hit_link_url }}" target="_blank">{{ hit.top_hit_link_text }}</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<div class="top-hits__text-only">
			<div class="text-odd">
				{% for t_hit in post.get_field('top_hits_text_repeater') %}
					{% if loop.index is odd %}
						{% if t_hit.optional_link %}
							<a class="top-hit-link" href="{{ t_hit.optional_link }}" target="_blank">{{ t_hit.top_hit_text_only }}</a>
						{% else %}
							<p>{{ t_hit.top_hit_text_only }}</p>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="divider"></div>
			<div class="text-even">
				{% for t_hit in post.get_field('top_hits_text_repeater') %}
					{% if loop.index is even %}
						{% if t_hit.optional_link %}
							<a class="top-hit-link" href="{{ t_hit.optional_link }}" target="_blank">{{ t_hit.top_hit_text_only }}</a>
						{% else %}
							<p>{{ t_hit.top_hit_text_only }}</p>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<div class="small-video-container">
		<!-- <video id="small-video-player" playsinline poster="{% if post.video_poster %}{{ TimberImage(post.video_poster) }}{% endif %}">
			{# #t=0.1  will grab the first frame which is then used as the poster if none is set manually #}
			<source src="{{ post.bottom_video_url }}{% if not post.video_poster %}#t=0.1{% endif %}" type="video/mp4" />
		</video>
		<button id="play-button">{% include '/static/icons/play-icon.svg' %}</button> -->
		<!-- <iframe id="ytplayer" type="text/html" width="640" height="360"
		src="{{ post.bottom_video_url }}origin=http://shfmr.local" frameborder="0"></iframe> -->

		<div class="yt-wrap">{{ post.bottom_video_url }}</div>
	</div>
</div>
{% endblock %}