{% block navigation %}
<div class="nav-wrapper">
	<div class="nav-container">

		<a class="logo" href="/">
			<img src="{{ theme.link }}/static/images/shfmr-logo.png" alt="Smoky Hill Logo" />
		</a>

		<div class="mobile-nav-top">
			<a class="mobile-logo" href="/">
				<img src="{{ theme.link }}/static/images/shfmr-logo.png" alt="Smoky Hill Logo" />
			</a>

			<div id="menu-toggle">
				<span class="x-bar"></span>
				<span class="x-bar"></span>
				<span class="x-bar"></span>
			</div>
		</div>

		<nav class="nav-menu" role="navigation">
			{{ function('shfmr_render_primary_menu') }}
		</nav>

	</div>
</div>
{% endblock %}