{# Core swoop component for all media elements and controls: Image, Video, or Slider on any default template
   Overlays on the curved header piece, all content is client controlled
#}
<div id="swoop-media-container">

	{# Swoop (swoop_has_video) #}
	{% if post.swoop_has_video %}
	<div class="large-video-container">
		{% if post.swoop_has_image %}
			<img class="swoop-image-only cover-thumbnail" src="{{ TimberImage( post.swoop_has_image ).src }}" alt="{{ TimberImage( post.swoop_has_image ).alt }}" />
		{% endif %}
		{{ post.meta('swoop_has_video') }}
	</div>
	
	{# Swoop (swoop_has_image) #}
	{% elseif post.swoop_has_image %}
		<img class="swoop-image-only" src="{{ TimberImage( post.swoop_has_image ).src }}" alt="{{ TimberImage( post.swoop_has_image ).alt }}" />

	{# Swoop (swoop_has_slider) #}
	{% elseif post.swoop_has_slider %}
		<div class="gallery-container">
			<span class="prev-arrow">{% include './static/icons/chevron-left.svg' %}</span>

			<div class="slider-entry">
				{% for slide in post.get_field('swoop_has_slider') %}
					<img src="{{ TimberImage( slide.slider_image ).src }}" alt="{{ TimberImage( slide.slider_image ).alt }}" />
				{% endfor %}
			</div>

			<span class="next-arrow">{% include './static/icons/chevron-right.svg' %}</span>
		</div>
	{% endif %}
</div>