.primary-button {
	display: inline-block;
	padding: 0.5rem 0.65rem;
	font-family: $font-head;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	line-height: 1; // reduce extra space amount
	vertical-align: text-top;

	@include bp(xs) {
		padding: 0.635rem 0.75rem;
		font-size: 1rem;
	}

	&--w, &--t, &--m, &--border, &--plain { @extend .primary-button; }

	// white
	&--w {
		background-color: $white;
		color: $purple;

		&:hover {
			background-color: $mint;
			color: $white;
		}
	}

	// transparent (ghost-style)
	&--t {
		background-color: transparent;
		color: $white;

		&:hover {
			background-color: $white;
			color: $light-black;
		}
	}
	
	&--m {
		background-color: $mint;
		color: $white;
		vertical-align: unset;

		&:hover {
			background-color: $white;
			color: $mint;
		}
	}

	&--border {
		color: $purple;
		background-color: $white;
		border: 2px solid $mint;
		transition: 0.1s ease-in;

		&:hover {
			background-color: $mint;
			color: $white;
			transition: 0.1s ease-out;
		}
	}

	// plain text link
	&--plain {
		color: $white;
		padding: 0.25rem;
	}
}