.outer-padding {
	padding: 0 1rem;
}

.footer-wrapper {
	max-width: 86.25rem;
	margin: 0 auto;
	padding: 1rem;
	background-color: $white;
	border-radius: 10px;
	box-shadow: 0px 30px 20px -30px rgba($black, 0.5);
}

.footer-link {
	display: inline-block;
	font-size: 0.875rem;
	font-style: italic;
	color: $light-black;
	&:hover { text-decoration: underline; }
}

.footer-container {
	position: relative;
	display: flex;
	max-width: 75rem;
	margin: 1.5rem auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	&--brand {
		max-width: 18rem;

		h5 {
			font-family: $font-head;
			color: $purple;
			text-transform: uppercase;
		}

		.address { margin-bottom: 0.5rem; }
	}

	&--login {
		max-width: 12rem;

		.facebook-link {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.25rem 0 0.25rem 0.5rem;
			&:hover svg #Path { fill: $mint; }
		}

		.footer-link {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

.lower-footer {
	display: flex;
	max-width: 75rem;
	margin: 0 auto;
	padding: 1.25rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(650px) {
		flex-direction: row;
		justify-content: space-between;
	}

	a, span {
		margin-bottom: 0.5rem;
		font-size: 0.75rem;
		font-style: italic;
		color: $white;
		@include bp(650px) { margin-bottom: unset; }
	}

	// align 502 logo with text content
	svg {
		position:relative;
		top: 2px;
	}
}