.home-content {
	max-width: 75rem;
	margin: 0 auto;
}

.review-container {
	display: flex;
	max-width: 25rem;
	margin: 3rem auto 4.75rem;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	@include bp(xs) { max-width: 30rem; }
	@include bp($laptop) { max-width: 43rem; }

	img {
		display: block;
		max-width: 6.125rem;
		margin-right: 1.5rem;
		@include bp($iphonex) { max-width: 8rem; }
		@include bp(xs) { max-width: 100%; }
	}

	.review-text {
		max-width: 26rem;

		h4 {
			font-family: $font-head;
			text-transform: uppercase;
			color: $purple;
		}

		small {
			font-size: 0.6875rem;
			@include bp(xs) { font-size: 0.875rem; }
		}
	}
}

// 3 call to action cards
.cta-cards {
	max-width: 75rem;

	@include mq($from: 1158px) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(18rem, 21.125rem));
		justify-content: center;
		column-gap: 3.5rem;
		row-gap: 2rem;
		@include bp(1230px) { column-gap: 5.75rem; }

		&__card {
			margin: 0 auto;
		}
	}

	@include mq($until: 1158px) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@include bp($tablet) {
			justify-content: space-between;
		}

		&__card {
			margin: 0 auto 2.75rem;
			max-width: 21.125rem;
		}
	}

	&__card {

		img {
			display: block;
			border-radius: 10px;
		}

		h3 {
			color: $purple;
			margin-top: 1.75rem;
			margin-bottom: 0.75rem;

			@include bp(xs) {
				margin-top: 2.5rem;
				margin-bottom: 1.125rem;
			}
		}

		p {
			font-size: 0.875rem;
			font-style: italic;
		}
	}
}