* { box-sizing: border-box; }
html { font-size: 16px; }

html, body {
	// smooths jagged font edges
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// font variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height
	line-height: 1.2;
	overflow-x: hidden;
}

body {
	background: linear-gradient(to bottom right, #382D6A 0%, #736DB2 100%);
	background-repeat: no-repeat;
	width: 100vw;
}

// sitewide placeholder text (make it legible)
::placeholder { color: $grey-one; opacity: 1; }

// base image setup
img {
	max-width: 100%;
	height: auto;
}

// remove excerpt/preview read-more link
a.read-more { display: none; }

// wp built-in rounded image - match styles on site
.is-style-rounded img {
	border-radius: 10px;
}