.header-wrapper {
	max-width: 75rem;
	margin: 2.75rem auto 0;
	padding: 0 1rem 1.75rem;

	@include bp(sm) {
		margin: 3.75rem auto 4rem;
		padding: 0 1rem;
	}
}

.center-header {
	max-width: 30rem;
	margin: 0 auto;
	text-align: center;
	@include bp(xs) { max-width: 35rem; }
	@include bp(sm) { max-width: 45rem; }
	@include bp(md) { max-width: 53rem; }

	h1 {
		color: $white;
		margin-bottom: 0;
	}
}

.no-mb {
	margin-bottom: 0;

	h1 { margin-bottom: -1rem; }
}

// applied to h1 element directly
h1.add-mb {
	margin-bottom: 2.5rem;
}

// if either of the next 2 classes are present, these control the spacing before the swoop
.home-below-title {
	display: flex;
	max-width: 20rem;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 3.75rem auto;

	// pushes "Watch Video" button down on mobile
	.primary-button--w {
		margin-bottom: 1rem;
		@include bp(345px) { margin-bottom: 0; }
	}
}

// all other pages (except home)
.default-below-title {
	max-width: 50rem;
	margin: 0 auto 3rem;
	@include bp($tablet) { margin: 0 auto; }

	p {
		max-width: 60.25rem; // same as body copy width (without padding - applied by main header class)
		padding: 0 1rem;
		margin-top: 1.5rem;
		margin-bottom: unset;
		font-size: 0.875rem;
		font-style: italic;
		color: $white;
		@include bp(xs) { font-size: 1rem; }
	}
}