.top-hits {
	max-width: 47rem;
	margin: 0 auto;

	h2 {
		text-align: center;
		color: $purple;
		margin-bottom: 2.5rem;
	}

	&__grid {
		display: grid;
		max-width: 100%;
		grid-template-columns: repeat(auto-fill, 14.375rem);
		justify-content: center;
		column-gap: 1.625rem;
		row-gap: 2.5rem;

		.grid-item {
			img {
				display: block;
				border-radius: 10px;
				height: 10.25rem; // minmax(10.25rem)
			}

			h4 {
				padding-top: 0.875rem;
				font-family: $font-head;
				font-size: 1.15rem;
				text-transform: uppercase;
				@include bp(sm) { font-size: 1.375rem; }
				@include bp(md) { font-size: 1.625rem; } // 26px max
			}

			p {
				font-size: 0.875rem;
				font-style: italic;
				margin-bottom: 0.625rem;
			}

			a.purple {
				font-size: 0.875rem;
				font-style: italic;
				font-weight: normal;
				color: $purple;

				&:hover {
					text-decoration: underline $mint;
				}
			}
		}
	} // end .grid

	// defined breakpoint to change easily
	$bp: 680px;
	&__text-only {
		display: flex;
		max-width: 15rem;
		margin: 3.75rem auto;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		@include bp($bp) {
			max-width: 40rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		p, .top-hit-link {
			margin-bottom: 0.625rem;
			font-family: $font-head;
			font-size: 1.125rem; // 18px
			text-transform: uppercase;
			font-weight: bold;
		}

		.top-hit-link {
			display: block;
			color: $purple;
			&:hover { text-decoration: underline; }
		}

		.divider {
			width: 100%;
			height: 1px;
			background-color: $grey-three;
			margin: 1.25rem auto;

			@include bp($bp) {
				margin: unset;
				width: 1px;
				height: 128px;
				background-color: $grey-three;
			}
		}

		.text-even {
			@include bp($bp) { padding-left: 2.25rem; }
		}

		.text-odd {
			@include bp($bp) { padding-right: 2.25rem; }
		}
	}
} // end .top-hits (parent)

.small-video-container {
	position: relative;
	max-width: 100%;
	margin: 3rem auto;

	#small-video-player {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		width: 35.625rem;
		border-radius: 10px;
	}

	// play button icon
	#play-button {
		background: unset;
		border: unset;
		max-width: 35.625rem;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&:hover { cursor: pointer; }
	}
}

// youtube player
.yt-wrap {
	position: relative;
	max-width: 100%;
	margin: 3rem auto;

	iframe {
		display: block;
		width: 35.625rem;
		max-width: 100%;
		margin: 0 auto;
		border-radius: 10px;
		max-height: 14.75rem;
		@include bp(xs) { max-height: 23.75rem; }
	}
}