// main content area below swoop (attached to white fill-bar on template pages)
.content-wrapper {
	position: relative;
	max-width: 100%;
	margin: 0 auto 3.5rem;
	padding: 1.25rem 1rem 5rem;
	background-color: $white;
	box-shadow: $main-shadow-purple;
}

// brings content up when no media element is present above it
.no-pad {
	padding-top: 0;
}

// section above the footer on each page (optional)
.above-footer {
	max-width: 50rem;
	margin: 0 auto;
	text-align: center;
	padding: 0 1rem 4rem;
	h2, p { color: $white; }
	h2 { margin-bottom: 0; }

	p {
		font-size: 0.75rem;
		font-style: italic;
		margin-bottom: 1.5rem;
		@include bp(xs) { font-size: 0.875rem; }
	}
}