// global menu styles
.nav-wrapper {
	position: relative;
	max-width: 100%;
	background-color: transparent;
	@include bp(1024px) { margin-top: 2rem; }

	// setup base menu ul styles
	.nav-container nav ul {
		padding: 0;
		list-style: none;
	}
}

// hamburger menu
#menu-toggle { display: none; }
.mobile-nav-top { display: none; }

// laptop+ styles
@include mq($from: 1024px) {

	// no border or bottom padding on mobile
	.nav-container {
		display: flex;
		max-width: 77rem; // 2rem extra for 1rem padding on each side
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}

	.logo img {
		width: 14.375rem;
		margin-right: 2rem;
	}

	// <nav>
	.nav-menu {

		// ul#primary-menu
		.menu {
			display: flex;
			max-width: 100%;
			justify-content: space-between;
			margin: 0;

			// nav global li styles
			li {
				position: relative; // for sub-menu
				background-color: transparent;
				border: 2px solid transparent;
				padding: 0.85rem 1.75rem 0.5rem;

				&.current-menu-item {
					a {
						// keep mint border on active item
						padding-bottom: 0.25rem;
						border-bottom: 2px solid $mint;
					}
				}

				&:hover {
					margin-left: 2px; // prevents shifting of menu items when hovered (accounts for 1px border)

					a {
						// transition border in
						padding-bottom: 0.25rem;
						border-bottom: 2px solid $mint;
					}
				}
			}

			#menu-item-149:hover { margin-left: unset; }

			// nav global anchor styles
			li a {
				color: $white;
				font-family: $font-head;
				font-weight: bold;
				font-size: 1rem;
				text-transform: uppercase;

				// make border slightly wider than link text
				border-bottom: 2px solid transparent;
				padding-left: 0.2rem;
				padding-right: 0.2rem;
			}

			// menus with children - class target (they may add more)
			.menu-item-has-children {
				position: relative; // for sub-menu positioning (explicit here vs <li> implicit above)
				z-index: 5;

				&:hover {
					background-color: $white;
					border-top: 1px solid $menu-grey;
					border-right: 1px solid $menu-grey;
					border-left: 1px solid $menu-grey;
					transition: none;
					border-top-right-radius: 10px;
					border-top-left-radius: 10px;
					border-bottom: 2px solid $mint;

					a {
						color: $purple;
					}
				}

				// first target link
				> a {
					position: relative;
				}

				&:hover {
					// show sub-menu
					.sub-menu {
						visibility: visible;
						opacity: 1;
						transition: visibility 0.2s ease-out;
					}
				}
			} // .menu-item-has-children

			//ul.sub-menu
			.sub-menu {
				position: absolute;
				top: 2.5rem; // no gap between borders
				left: -1px;
				width: calc( 100% + 2px);
				margin-bottom: 0;
				visibility: hidden;
				opacity: 0;
				overflow: hidden;
				background-color: $white;
				border: 1px solid $menu-grey;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
				border-top: unset;
				padding-left: 0.5rem;
				box-shadow: 0 20px 20px -20px rgba($black, 0.5);

				li {
					border: unset;
					padding: unset;
					margin: 0.5rem auto;

					// only highlight current menu item, not children (>)
					&.current-menu-item {
						> a {
							color: $purple;
							text-decoration: underline $mint;
							text-underline-offset: 3px; // safari 12+ / firefox 70+ / -Chrome/Edge No
						}
					}

					// needed for nested sub-menu
					&:hover { border: unset; }
				}

				// base sub-menu anchor width and styles
				li a {
					display: block;
					max-width: 8rem;
					margin: 0 auto;
					font-family: $font-body;
					font-style: italic;
					font-weight: normal;
					font-size: 0.875rem;
					color: $light-black;
					text-transform: none;
					border-bottom: unset;

					&:hover {
						text-decoration: underline $mint;
						text-underline-offset: 3px; // safari 12+ / firefox 70+ / -Chrome/Edge No Support
					}
				}
			} // .sub-menu

			// nested sub-menu (3rd level)
			.sub-menu li .sub-menu {
				position: relative;
				top: unset;
				left: 1rem;
				border: unset;
				width: 100%;

				&:before {
					content: '\2014'; // em dash (long hyphen, non-breaking) --
					position: absolute;
					left: 1rem;
					top: 0.35rem;
				}

				li { margin-bottom: unset; }
			}

			// specific sub-menu anchor widths based on top level link (main li) for centering in individual dropdowns
			// the dropdowns are not all equal width, the text is left aligned, and centered in the container - so we change the width for centering here
			li.menu-item-198 .sub-menu li a {
				max-width: 7.5rem;
			}

			li.menu-item-199 .sub-menu li a {
				max-width: 6.3rem;
			}

			li.menu-item-196 .sub-menu li a {
				max-width: 5.4rem;
			}
		} // .menu
	} // .nav-menu
}

// mobile to laptop styles
@include mq($until: $laptop) {

	.logo { display: none; }

	// used to expand header with menu inside it
	.mobile-nav-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem;

		.mobile-logo { max-width: 8.5rem; }
	}

	// mobile menu toggle X
	#menu-toggle {
		display: block;
		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			height: 2px;
			margin-bottom: 6px;
			background-color: $white;
			transition: 0.2s ease-out;
			border-radius: 2px;
			margin-right: 0; // align bars right
			margin-left: auto; // align bars right

			// adjust the widths to make them staggered
			&:nth-child(3n+1) { width: 1.8rem; }
			&:nth-child(3n+2) { width: 1.4rem; }
			&:nth-child(3n+3) { width: 1rem; }

			// make them all the same so the X looks correct
			&.x-bar-active { width: 1.6rem; }
		}

		.x-bar-active {
			position: relative;
			transition: 0.2s ease-in;
			margin-bottom: 0;
			height: 2px;

			&:nth-child(3n+1) {
				top: 0;
				transform: rotate(45deg);
			}

			&:nth-child(3n+2) {
				opacity: 0;
			}

			&:nth-child(3n+3) {
				bottom: 4px;
				transform: rotate(-45deg);
				margin-bottom: 0;
			}
		}
	}

	// keep border off edges in #primary-menu
	.nav-menu {
		padding: 0 1rem;
	}

	#primary-menu {
		display: none;
		width: 100%;
		top: 0;
		margin: 0 auto;
		padding-top: 1.5rem;
		overflow: hidden;
		height: 100vh;
		border-top: 2px solid $light-purple;

		li {
			margin-bottom: 2rem;
			margin-left: 2.25rem;
		}

		a {
			font-family: $font-head;
			font-weight: bold;
			color: $white;
			font-size: 1rem;
			text-transform: uppercase;
		}

		.menu-item-has-children {
			//position: relative;

			a {
				position: relative;
				color: $white;
			}

			// spacing for menu-items first level sub-menu
			> li {
				margin-top: 0.75rem;
			}

			// hidden menu state
			.sub-menu {
				position: absolute;
				opacity: 0;
				visibility: hidden;
				top: 4.5rem;
				left: 100%;
				width: 100%;
				transition: 0.2s ease-out;
				z-index: -1;
				margin-left: 0;

				li .sub-menu li {
					position: absolute;
					top: 0.1rem;
					left: 0;
					transition: unset;
				}
			}

			// open menu state
			.sub-menu-open {
				position: absolute;
				left: 0;
				display: block;
				opacity: 1;
				visibility: visible;
				transition: 0.2s ease-in;
				overflow-y: scroll; // small screen support
				overflow-x: hidden; // no horizontal scroll on mobile
				z-index: 25;

				// allows background of menu to match gradient behind it
				background: linear-gradient(to bottom right, #382D6A 0%, #736DB2 100%);
				height: 100%;
				width: 100%;

				li {
					margin-left: 3.25rem;
					margin-bottom: 1.675rem;
					&:first-of-type { margin-left: 1rem; font-style: normal; font-size: 1rem; }

					a {
						text-transform: unset;
						font-family: $font-body; // questa-slab for these
						font-size: 0.875rem;
						font-style: italic;
						font-weight: normal;
					}
				}

				// third level sub-menu adjustments (unset most styles)
				li .sub-menu-open {
					position: relative;
					top: 0.1rem;
					background: unset;
					margin: unset;
					padding: unset;
					overflow: unset;
					transition: unset; // without this, menu item flies up from bottom right corner due to parent styles

					&:before {
						content: '\2014'; // emdash (long hyphen, non-breaking) --
						position: absolute;
						left: 0;
						top: -0.15rem;
						color: $white;
					}

					// third left list item
					li {
						position: relative;
						margin-top: 0.5rem;
						margin-bottom: 0;
						padding-top: 0;
						margin-left: 1.5rem;
						padding-bottom: 0.25rem;

						// hide back button on this list item
						&:first-of-type { display: none; }
					}
				}
			}

			// back button at top of menu (prepended in site.js file)
			#mobile-back-button {
				background: unset;
				border: unset;
				width: 23.875rem;
				padding: 0.75rem 0;
				border-bottom: 1px solid $light-purple;
				text-align: left;
				color: $white;
				font-family: $font-head; // FontAwesome fallback for arrow
				font-size: 1rem;
				font-weight: bold;
				text-transform: uppercase;

				&:before {
					content: url('static/icons/arrow-left.svg');
					margin-right: 1rem;
					vertical-align: top;
				}
			}

		} // end .menu-item-has-children
	} // end #primary-menu
}