// swoop for all pages with shadow applied
.swoop {
	position: relative;
	max-width: 100%;
	margin-bottom: -2px;
	z-index: 2;

	// global for shadow on curves, do not add it to the video player button (svg id is set in /icons/play-icon.svg)
	svg:not(#play-button-svg) {
		position: relative;
		display: block;
		width: 100vw;
		margin: 0 auto;
		filter: drop-shadow(0 -10px 4px $purple);
	}
}

.media-container {
	background-color: transparent;
	margin: -50% auto 1.5rem;

	@include bp($iphone678) { margin-top: -40%; }
	@include bp(sm) { margin: -25% auto 0; }
	@include bp(lg) { margin: -22% auto 0; }

	// swoop media elements
	#swoop-media-container {
		max-width: 62.5rem;
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding: 0 1rem;
		z-index: 20;

		.swoop-image-only {
			display: block; // trim whitespace
			margin: -1rem auto 4rem; // 4rem bottom margin to push content down
			border-radius: 10px;
			box-shadow: $main-shadow;
			max-width: 40rem;
			max-height: 34rem; // prevent overflow
			width: 100%;
			@include bp($laptop) { margin: 0 auto 4rem; max-width: 49.5rem; }
		}

		// video
		.large-video-container {
			position: relative;
			max-width: 48rem;
			width: 100%;
			margin: 0 auto;

			iframe { width: 100% !important; }

			#large-video-player {
				display: block;
				margin: 0 auto;
				max-width: 100%;
				width: 48rem;
				border-radius: 10px;
			}

			// play button icon
			#large-play-button {
				background: unset;
				border: unset;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&:hover { cursor: pointer; }
			}
		}

		// slider container and arrows setup
		.gallery-container {
			position: relative;
			max-width: 48rem;
			margin: 0 auto;

			img {
				max-height: 32rem;
				border-radius: 10px;
				object-fit: cover; // prevents stretching of image inside container (will clip tall images)
			}

			.slick-slide {
				max-height: 15rem;
				@include bp(600px) { max-height: 20rem; }
				@include bp($tablet) { max-height: 32rem; }
			}

			.prev-arrow, .next-arrow {
				display: inline-block;
				position: absolute;
				top: 33%;
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				border: 4px solid $white;
				z-index: 20;
				background-color: $menu-grey;
				justify-content: center;

				@include bp($iphonex) {
					width: 3.5rem;
					height: 3.5rem;
					top: 42%;
				}

				@include bp(sm) {
					width: 5rem;
					height: 5rem;
					border: 7px solid $white;
				}

				&:hover {
					cursor: pointer;
					background-color: $grey-five;
				}

				// prevent 100vw auto setting
				svg {
					position: relative;
					top: 50%;
					left: 50%;
					width:0.6rem;
					filter: unset;
					@include bp(xs) { width: 100%; }
				}
			}

			.prev-arrow {
				left: -1.25rem; // pull left arrow container slightly out of container
				@include bp(xs) { left: -1.6rem; }
				@include bp(sm) { left: -2.5rem; }
				svg { transform: translate(-55%, -48%); }
			}

			.next-arrow {
				right: -1.25rem; // pull right arrow container slightly out of container
				@include bp(xs) { right: -1.6rem; }
				@include bp(sm) { right: -2.5rem; }
				svg { transform: translate(-46%, -50%); }
			}
		}
	}
}