.content-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

// default template classes //
.default-header {
	max-width: 43.75rem;
	margin: 0 auto;
	background-color: $white;
}

.default-container {
	background-color: transparent;
	position: relative;
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;
	z-index: 20;
	

	// base links for default pages
	a:not(.plain-link) {
		color: $light-black;
		font-size: 0.875rem; // 14px
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline;}
	}
}

.default-container-short {
	background-color: transparent;
	position: relative;
	max-width: 62.5rem;
	margin: 0 auto;
	padding: 1rem;
	z-index: 20;

	// base links for default pages
	p a:not(.plain-link):not(.top-hit-link) {
		color: $light-black;
		font-size: 0.875rem; // 14px
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline;}
	}
}

// helper classes //
.hide-on-desktop {
	display: block;
	@include bp(xs) { display: none; }
}

.hide-on-mobile {
	display: none;
	@include bp(xs) { display: block; }
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: 0.2s ease-out;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: 0.2s ease-out;
}

// base link styles
.plain-link {
	color: $light-black;
	font-size: 0.875rem; // 14px
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

// for <hr>
hr.has-mint-color {
	border-top: unset !important;
	color: $mint !important;
	background-color: $mint !important;
	border-color: $mint !important;
	height: 1px !important;
}

// pull images inline with paragraph text
figure.size-full { margin-top: 0.4rem; }