// styles for the wiki page only
.page-id-134, .epkb_full {
	#header { display: none; }
	#footer { display: none; }
	hr { display: none; }

	h2.epkb-doc-search-container__title {
		font-family: $font-body !important; // questa-slab
		font-style: italic !important;
		color: $purple !important;
		font-weight: bold !important;
	}

	#page .epkb-full .epkb-doc-search-container {
		padding-bottom: 5rem;
		border: unset !important;
		background-color: transparent !important;
		background: unset !important;
	}

	#epkb-main-page-container.epkb-basic-template .epkb-doc-search-container .epkb-search-form-1 .epkb-search-box {
		border: 1px solid $mint !important;
		border-radius: 7px;
		background-color: transparent !important;
		background: unset !important;
	}
}

#epkb-search-kb { border-width: 0 !important; }

.single-epkb_post_type_1 {
	.center-header h1 { margin-bottom: 2.5rem; }
	.swoop { display: none; }
}