.editor-button-block {
	display: inline-block;
	padding: 0.5rem 0.65rem;
	font-family: $font-head;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	line-height: 1; // reduce extra space amount
	vertical-align: text-top;

	@include bp(xs) {
		padding: 0.635rem 0.75rem;
		font-size: 1rem;
	}

	// transparent and white blocks will blend into page with white background (not added)
	&__border-purple, &__solid-purple, &__border-mint, &__solid-mint { @extend .editor-button-block; }

	&__border-purple {
		background-color: $white;
		color: $purple;
		border: 1px solid $purple;

		&:hover {
			background-color: $purple;
			color: $white;
			border-color: $white;
		}
	}

	&__solid-purple {
		background-color: $purple;
		color: $white;
		border: 1px solid $purple;

		&:hover {
			background-color: $white;
			color: $purple;
		}
	}

	&__border-mint {
		background-color: $white;
		color: $mint;
		border: 1px solid $mint;

		&:hover {
			background-color: $mint;
			color: $white;
		}
	}

	&__solid-mint {
		background-color: $mint;
		color: $white;
		border: 1px solid $mint;

		&:hover {
			background-color: $white;
			color: $mint;
		}
	}
}