.standard-dropdown-container {
	max-width: 63.25rem;
	margin: 0 auto;
	padding: 0 1rem;

	.dropdown-block-title {
		// font-size controlled by class [.h4-heading]
		display: block;
		position: relative;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $black;
		color: $purple;

		&:hover { cursor: pointer; }

		// add arrow down after heading
		&:after {
			content: '\f063';
			position: absolute;
			top: 1.2rem;
			margin-left: 2rem;
			font-size: 16px;
			font-weight: normal;
			font-family: FontAwesome;
			transition: 0.3s ease-in;
			@include bp(sm) { font-size: 18px; }

			// slight adjustment - keep aligned with baseline of h4 (not true baseline)
			@include bp(md) {
				top: 1.25rem;
				font-size: 22px;
			}
		}
	}

	// rotate the chevron (class applied via js)
	.chevron-rotate:after {
		transform: rotate(180deg);
		transition: 0.3s ease-in;
	}
}